<!DOCTYPE html>
<html lang="en">

   
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title><%=title %></title>

  <meta name="robots" content="noindex,nofollow">
  <!-- Add your CSS links or stylesheets here -->
  <link rel="icon" href="https://enterprisetalk.com/wp-content/uploads/2023/03/cropped-EnterpriseTalk-fevicon-32x32.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/datatable/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="/assets/datatable/responsive.bootstrap5.min.css">

    </head>

    <body>

        <%- include('appHeader') %>
            <div class="wrapper d-flex align-items-stretch">
                

                    <!-- Page Content  -->
                    <div id="content" class="">
                        <div class="content_wrapper">
                          <div class="center_box">
                            <h5 class=" text-danger">Access Denied</h5>
                            <a href="http://192.168.16.163:3000/dashboard" class="btn btn-sm btn-primary ">Dashboard</a>
                             </div>
                        </div>
                    </div>
            </div>

            <div class="  py-1 px-3 m-0 " >
                <p class="m-0 content_footer  text-end">
                    <%= new Date().getFullYear()%>© Designed and Developed by KGV
                </p>
            
            
            </div>
            
           



    </body>

    </html>