<%- include('head') %>
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <%- include('sidebar') %>

    <!-- Page Content  -->
    <div id="content" class="">
      <%- include('appHeader') %>
      <div class="content_wrapper">
      <h2 class="mb-4">Sub menu 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, laborum expedita. Similique magni perferendis natus, placeat ea aspernatur voluptatibus quas vero harum id repudiandae rem nihil animi! Placeat, adipisci! Consequuntur, blanditiis. Asperiores sed quisquam maiores! Laudantium quam enim libero sint exercitationem porro provident blanditiis nostrum ducimus ipsum ullam, reprehenderit veniam, eligendi quod debitis optio? Nemo ad ipsam qui velit natus veritatis saepe, odit deleniti neque, facere modi culpa, praesentium aperiam! Facere, nam beatae deleniti perspiciatis architecto, laborum recusandae iure voluptatibus commodi nihil asperiores id consequuntur quod et veritatis libero, vitae corporis provident dolorum quibusdam. Quas quia inventore facere praesentium? Recusandae libero excepturi iste laborum deleniti sit aliquam nemo velit sint quod enim autem quibusdam, modi voluptas dicta nulla, minima voluptatem magnam aspernatur odio omnis. Quam aperiam facere repellendus commodi accusantium cum beatae ut a fugiat nobis ex, obcaecati sed architecto sint ducimus, provident quibusdam porro. Aspernatur reprehenderit blanditiis laboriosam minima quaerat. Mollitia est aspernatur animi fugiat dolore quae pariatur, impedit delectus consequuntur nam necessitatibus autem? Reiciendis, libero debitis ab harum eum veritatis consequuntur officia excepturi quam magnam cum repudiandae provident incidunt possimus dolorum itaque, praesentium modi laudantium nobis quibusdam delectus corporis tempora laboriosam. Unde provident excepturi deserunt totam reprehenderit impedit commodi vel architecto tempora fuga ut neque, quia sint tenetur, quidem voluptatem numquam asperiores enim assumenda eum atque a temporibus. Perspiciatis molestias non cum totam, eius natus hic ipsam explicabo ab sapiente labore corporis dolores autem praesentium at accusamus excepturi eligendi numquam maxime expedita dolorem temporibus vero quas? Inventore exercitationem quasi laboriosam. Porro animi sunt ab odit facilis obcaecati omnis velit quidem fuga! Eligendi dolorem quam iure tenetur, perferendis accusamus consectetur officiis ducimus nisi! Repudiandae magni provident velit laboriosam inventore quidem, nemo placeat architecto accusantium sint ipsam eos? Velit odio eaque corporis rerum! Impedit voluptatum ab distinctio sit quam temporibus dolorem, alias dicta. Aperiam delectus corrupti sed a eaque? Voluptatem, blanditiis! Magni quae quaerat ipsum. Quos magni itaque ea sunt quasi dolores mollitia! Magnam laudantium praesentium ullam saepe nulla nemo eaque culpa quia dolore, amet deleniti dolorem molestias necessitatibus rerum repellendus a animi, et, quo architecto numquam. Sequi omnis nostrum atque dolores illo hic quibusdam accusamus, iusto labore modi ab tempore accusantium, veniam vel reprehenderit maiores facilis ut commodi asperiores quas nihil rerum sit. Molestiae quibusdam quis sint facilis, maiores cumque itaque, ipsa recusandae neque corrupti vel asperiores in quaerat dignissimos officia quas rem nam consequuntur! Aperiam porro reiciendis mollitia deleniti laudantium similique quam error aliquid ex consequuntur eligendi impedit non, minima corporis voluptatum. Nostrum velit obcaecati tenetur dicta consectetur necessitatibus voluptatum adipisci asperiores deserunt esse similique minus laboriosam, quo molestiae commodi nisi enim, eos distinctio sunt! Sequi itaque expedita minima non neque recusandae minus et accusamus optio pariatur quod, sit asperiores quam consectetur eum velit enim atque molestias quia hic! Soluta tenetur, blanditiis asperiores saepe enim laboriosam, at nobis id fuga animi reprehenderit accusantium labore voluptatibus ipsa repellat vero. Quisquam iure ullam animi itaque, ex accusamus laudantium. Vero atque laborum voluptas doloribus suscipit dolorem error nam tenetur esse totam!
        </p>
      </div>
    </div>
  </div>


  <footer>
    <!-- Footer content can be added here -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="/assets/js/allFunctions.js"></script>

</body>

</html>